* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  background-image: url("https://i.pinimg.com/originals/6d/5c/de/6d5cde4f5ccd6ddeba2fd84339350e21.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

}

.Weather{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
}

.Weather > form{
  justify-self: center;
  align-self: center;
}

.Title{
  justify-self: center;
  color: #fff;
  font-size: 36pt;
  margin: 5px;
}

input{
  width: 100%;
  font-size: 14pt;
  text-align: center;
  border-radius: 10px;
}

/* input:focus{
  border-color: red;
} */

button {
  width: 100%;
  margin-top: 5px;
  background-color: cornflowerblue;
  color: #fff;
  font-size: 14pt;
  transition: 400ms;
  border-radius: 10px;
}


button:hover{
  color: cornflowerblue;
  background-color: #fff;
}


.Info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  color: #EF6351;
  justify-self: center;
  text-align: center;
  padding: 10px;
  font-weight: bolder;

}

.Temperature {
  padding: 10px;
}

.Temperature > h1 {
  margin: 5px;
}

.Description {
  padding: 10px;
}

.Description > h1 {
  margin: 5px;
}